# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Project specific
*.json
!books.json   # разрешить books.json (но по желанию)
!test_books.json

# OS junk
.DS_Store
Thumbs.db